
<!-- footer -->
<footer class="jumbotron wrap jumbotron-fluid bg-dark my-0">
  <div class="container container-fluid text-center">
      <!-- social media -->            
      <p class="pb-3 mt-0 pt-0 text-warning"><b>{ Find me on social media }</b></p>
      <div class="row mx-2 px-2" style="display: flex; justify-content: space-around;">
          <!-- linkedin -->
          <div class="fa-footer">
              <a href="https://www.linkedin.com/in/abhishek-shetty-573a081a6/" class="text-warning" target="_blank"><i class="fab fa-linkedin"></i></a>
          </div>
          <!-- github -->
          <div class="fa-footer">
                  <a href="https://github.com/Sheldor-abhi" class="text-warning" target="_blank"><i class="fab fa-github"></i></a>
          </div>
      </div>
  </div>
</footer>socila